@use '@var' as *;

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 320px;
  aspect-ratio: 1;

  border: 1px solid $color-gray-150;
  border-radius: 4px;
  box-sizing: border-box;

  cursor: pointer;
}

.popup {
  background-color: rgba(0, 0, 0, 0.3);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.popup__image {
  max-width: 60%;
  max-height: 80%;
  object-fit: contain;

  cursor: default;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;

  background: none;
}

@media (max-width: 768px) {
  .popup {
    align-items: flex-start;
  }

  .popup__image {
    max-width: 100%;
  }

  .close {
    top: 16px;
    right: 16px;
  }
}