.images {
  padding: 16px 0 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(90px, 31%, 204px), 1fr));
  gap: 8px;
}

@media (min-width: 1600px) {
  .images {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}