body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 400;
  height: auto;
}

button {
  border: none;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

input {
  outline: none;
  border: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

img,
svg {
  vertical-align: middle;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}