@use '@var' as *;

.search {
  display: flex;
  justify-content: center;
  column-gap: 8px;

  width: 100%;
  padding: 40px 0 16px;

  background-color: $color-white-100;
}

@media (max-width: 768px) {
  .search {
    padding: 10px 0 16px;
  }
}

.search_submit {
  justify-content: flex-start;
  position: sticky;
  top: 0;
  left: 0;
}